.titre{
    text-align: center;
    background: grey;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}

.cool{
    background: lightgrey;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;

}

